.tierStack {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.Pricing {
    background-color: #3b477a;
    padding: 40px 0;
    color: #FFFFFF;
}

.pricingTitle {
    font-family: Coolvetica;
    text-align: center;
    margin-bottom: 3%;
    font-size: 3em;
}

.tierCard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    border: 3px solid white;
    transition: transform 0.3s ease-in-out;
}

.tierCard:hover {
    transform: scale(1.05);
}

.tierHeader {
    font-family: Coolvetica;
    font-size: 24px;
    margin-bottom: 10px;
}

.tierPrice {
    font-size: 36px;
    margin-bottom: 20px;
}

.tierDescription {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.selectButton {
    background-color: #f094bc;
    color: #3b477a;
    transition: background-color 0.3s ease-in-out;
}

.selectButton:hover {
    background-color: #e075aa;
}
