.container {
    display: flex;
    flex-direction: column;  /* This will stack children vertically */
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.Button {
    display: inline-block;
    text-align: center;
    color: #ffffff;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: transform 0.3s;
    cursor: pointer;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  

}

.Button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Slight zoom on hover */
}



.Button:active {
    background-color: #45a049;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.luxuryButton {
    font-weight: bold;
    background-color: #0f143c;  /* Change this to any color you want */
    border: 2px solid #0f143c;
}

.luxuryButton:hover {
    background-color: #0f143c;
    color: white;
}

.infoBox {
    background-color: #f7f7f7;  /* Light gray background */
    padding: 10px;
    margin-bottom: 10px;  /* Spacing between the infoBox and button */
    border: 1px solid #e0e0e0;  /* Light gray border */
    border-radius: 5px;
    width: fit-content;  /* Makes the box fit the content */
    text-align: center;
}