@font-face {
  font-family: Rubik;
  src: url(../../assets/fonts/rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: Coolvetica;
  src: url(../../assets/fonts/coolvetica/coolvetica\ rg.otf);
}

.featuresContainer {
  display: flex;
  flex-direction: column;
  color: black;
  transition: 0.5s;
  margin-bottom: 10vw;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
  font-family: Rubik;
  align-items: center; 
}

.featuresHeader {
  font-family: Coolvetica;
  margin-bottom: 2%;
  font-size: 3.5em; /* Increased font size */
  font-weight: bold; /* Made it bolder */
  text-align: center; /* Centered the text */
  width: 100%; /* Ensure it takes the full width */
}

.questionContainer {
  display: flex;
  flex-direction: column;
}

.questionContainer:hover {
  background-color: #eaeaea; /* Corrected the color value */
}

.questionContainer:before {
  content: none; /* Changed from "display: none" to "content: none" */
}

.question {
  color: #5c71ad;
  font-size: 32px; /* Added px unit */
  font-family: Rubik;
}

.answer {
  color: black;
  font-size: 16px;
  font-family: Rubik;
}
