.featuresContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff; /* light background color */
}

.featuresHeader {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 30px;
  color: black;
  text-align: center;
  font-family: 'Varela Round', sans-serif; 
}

.questionContainer {
  width: 80%; /* or you can adjust to fit your desired width */
  border: 1px solid #e0e0e0;
  border-radius: 1px;
  transition: transform 0.5s, box-shadow 0.4s;
}

.questionContainer:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px #eaeaea;
}

.question {
  font-weight: 500;
  padding: 12px 16px;
  font-size: 16px;
  color: #eaeaea;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif; 
}

.question:hover {
  background-color: #f2f2f2;
}

.answer {
  padding: 10px 16px;
  font-size: 14px;
  color: #ffffff;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  font-family: 'Varela Round', sans-serif; 
}

/* For the box-icon */
[box-icon] {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

/* Rotation for expanded state */
.featuresContainer .expanded > [box-icon] {
  transform: rotate(180deg);
}
